body,html {
    background-color: #deeaee;
}

.a-card{
    color: #333;
}

.fa-info-circle{
    color:#b3b3b3;
}

#details_text{
    height: 365px; 
    width: 772px;
}

@media only screen and (max-width: 768px) {
    #details_text{
        height: 293px; 
        width: 379px;
    }
}

form{
    margin-top: 2%;
}

#header{
    margin-top: 2%;
}

