<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virus Management System</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/js/main.js"></script>
</head>

<body onload="setUrls()">
    <div class="uk-position-center">
        <div class="uk-grid-large uk-text-center uk-grid">
            
            <div>
                <div class="uk-card uk-card-default uk-width-medium uk-card-hover uk-animation-scale-up">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"><a id="card1anchor" class="a-card" href="">Report your case</a></h3>
                        <p>Have you experinced COVID-19 symptoms? Fill in the form provided and a doctor will contact with you as soon as possible.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="/assets/images/report.jpg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-width-medium uk-card-hover uk-animation-scale-up">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"><a id="card2anchor" class="a-card" href="#">Medical Personel</a></h3>
                        <p>Click on the header above and you will be redirected to the login page of the hospital management system.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="/assets/images/doctor.jpg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-width-medium uk-card-hover uk-animation-scale-up">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"><a id="card3anchor" class="a-card" href="#">Report violation</a></h3>
                        <p>Have you seen a COVID-19 lockdown violation. Submit an online form anonymously and the police will take care of it.</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="/assets/images/police.jpg" alt="">
                    </div>
                </div>
            </div>
            <!--here-->
        </div>
    </div>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
</body>

</html>