<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report form</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/js/main.js"></script>
</head>

<body>
    <div class="uk-container">



        <form style="border: 2px solid #F0FFFF;padding: 1%;" id="registerForm" class="uk-position-top-center">
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: tag"></span>
                    <input id="ssnInput" class="uk-input" type="text" placeholder="SSN">
                </div>
                <div class="uk-inline uk-float-right">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input id="fullNameInput" class="uk-input" type="text" placeholder="Full name">
                </div>
                <div class="uk-inline uk-float-right">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                    <input id="phoneInput" class="uk-input" type="text" placeholder="Phone number">
                </div>
                <div class="uk-inline uk-float-right">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input id="mailInput" class="uk-input" type="text" placeholder="Mail">
                </div>
                <div class="uk-inline uk-float-right">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                    <input id="dateInput" class="uk-input" type="date" placeholder="Birthdate">
                </div>
                <div class="uk-inline uk-float-right">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: location"></span>
                    <input id="addressInput" class="uk-input" type="text" placeholder="Addresss">
                </div>
                <div class="uk-inline uk-float-right">
                </div>
            </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: users"></span>
                        <input id="people_socialised_with" class="uk-input" type="text" placeholder="#people I socialised with">
                    </div>
                    <div class="uk-inline uk-float-right">
                    </div>
                </div>
                <a href="#" id="filldetails" onclick="addFields()">Fill Details</a>
                <div id="container"></div>
                <br/>
                <button class="uk-button uk-button-primary" type="submit" id="submit-btn-2"
                onclick="event.preventDefault()">Submit</button>
       </form>

    </div>
    <script src="../assets/js/models/Patient.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>

</html>