<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report form</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <script src="../assets/js/main.js"></script>
</head>

<body>
    <div class="uk-container">

    
        <h2 style="margin-top: 2%;" class=" uk-position-top-center">Report a lockdown violation</h2>
    
        <form id="reportForm" class="uk-position-center">

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: location"></span>
                    <input id="address_input" class="uk-input" type="text" placeholder="Addresss">
                </div>
                <div class="uk-inline uk-float-right">
            <button class="uk-button uk-button-primary" type="submit" id="submit-btn-1" onclick="event.preventDefault()">Submit</button>
            </div>
            </div>
            
            <label class="uk-form-label" for="details_text"> <i class="fas fa-info-circle"></i> Details</label>
            <br />
            <textarea id="details_text" class="uk-textarea" name="comment" form="reportForm"
                maxlength="1000"></textarea>
        </form>
        </div>
        <script src="../assets/js/models/Report.js"></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
    <script src="https://kit.fontawesome.com/a77229b703.js" crossorigin="anonymous"></script>
</body>

</html>